<form class="login-form col-md-4" action="/login" method="POST" >

	  <div class="login-container">

		<h2>Login Form</h2>
	  
	    <label for="email"><b>E-mail</b></label>
	    <input class="col-md-12" type="email" placeholder="Enter E-mail" name="email" required>

	    <label for="password"><b>Password</b></label>
	    <input class="col-md-12" type="password" placeholder="Enter Password" name="password" required>
	        
	    <button class="col-md-12" type="submit">Login</button>
	  </div>
  
</form>
