<form class="login-form col-md-4" action="/action_page.php">
<form class="login-form col-md-4" action="/login" method="POST" >

	<h2>Login Form</h2>
	  
	  <div class="login-container">
	    <label for="email"><b>E-mail</b></label>
	    <input class="col-md-12" type="email" placeholder="Enter E-mail" name="email" required>

	    <label for="psw"><b>Password</b></label>
	    <input class="col-md-12" type="password" placeholder="Enter Password" name="psw" required>
	        
	    <button class="col-md-12" type="submit">Login</button>
	  </div>

	  <div class="container">
	    <button type="button" class="log-cancelbtn">Cancel</button>
	    <span class="psw">Forgot <a href="#">password?</a></span>
	  </div>
  
</form>
