 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/node_modules/css-star-rating/dist/css/star-rating.css">



    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create-card.css" type="text/css" />
    <link rel="stylesheet" href="/styles/friends-side-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link rel="stylesheet" href="/styles/card.css" type="text/css" />

    <!-- External JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/89163c727c.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/likes-counter.js"></script>

 </head>

  <body>

    <header>
        <% include ./partials/_nav-bar %>
        <% include ./partials/_create-card %>
    </header>
      <% include ./partials/_friends-side-bar %>

    <form class="update-profile-form col-md-4" action="/update_profile" method="POST">

      <h2>Update your profile</h2>
        
        <div class="profile-container">

          <label for="prof-username"><b>Update Username</b></label>
          <input class="col-md-12" type="text" placeholder="user_name" name="prof-username" required>

          <label for="prof-email"><b>Enter E-mail</b></label>
          <input class="col-md-12" type="email" placeholder="example@example.com" name="prof-email" required>

          <label for="prof-password"><b>Enter Password</b></label>
          <input class="col-md-12" type="password" placeholder="myP@ssw0rd" name="prof-password" required>
           
          <button class="col-md-12" type="submit">Update</button>
        </div>
      
    </form>


  </body>
</html>