
.card {
  diplay: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin: 15px auto;
  height: 100%;

}

.card-body {
 display: block;
 text-align: center;
 margin: 15px auto;
 padding: 5px 15px 5px 15px;
}

#savedByUsername {
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Lora', serif, ;
  color: #848585;
}

.card-tags {
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Lora', serif, ;
  color: #848585;
}

.card-title {
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Lora', serif, ;
  color: #087E97   ;

}



.card-reaction {
  display: inline;
  margin: auto;
  text-align: center;

}

.set-rating {
  display: inline;
  text-align: center;
  margin: auto;

  color:#848585;

}
#label-for-rating{
color: #B3B4B6
}

#card-description {
  display: block;
  text-align: center;
  margin: auto;
  font-color: #B3B4B6;
}

.fa-comment {
 display: inline;
  margin: auto;
  text-align: center;
  color: #B3B4B6;
  border-color: white;

}

.fa-comment:hover {
    color: #fff;
    background-color:   #087E97  ;
    border-color:   #087E97  ; /*set the color you want here*/
}


.fa-arrow-down {
 display: inline;
  margin: auto;
  text-align: center;
  color: #B3B4B6;
  border-color: white;

}
.fa-arrow-down:hover {
    color: #fff;
    background-color:   #087E97  ;
    border-color:   #087E97  ; /*set the color you want here*/
}



.fa-heart {
 display: inline;
  margin: auto;
  text-align: center;
  color: #B3B4B6;
  border-color: white;

}

.fa-heart:hover  {
      color: #fff;
    background-color:   #087E97  ;
    border-color:   #087E97  ; /*set the color you want here*/
}


.commentbox {
  display: none;
  margin: auto;

}

.comment-container {
  display: block;
  margin: auto;
  display: none;
}

.card .indv-comment {
  display: block;
  margin: auto;
  border-top: 1px solid #B6B7C1
}

