body {
padding-top: 120px;
background: blue;
background: linear-gradient(to bottom right,#74BABD, #ABE9EC);
}

main{
 display: flex;
 flex-wrap: wrap;
 align-content: flex-start;
}
  h1 {
    color: #244751;
  }





