h2 {
    padding-bottom: 15px;
}


.login-form {
    display: none;
    font-family: 'Lora', serif, ;
    font-color: #1B284E;
}

.login-container {
    margin-top: 14px;
    padding: 16px;
    background-color: white;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form input[type=email], input[type=password] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

.login-form label[for=email], label[for=password] {
    margin-top: 15px;
    margin-bottom: 1px;
}

.login-form button {
    background-color: #74BABD;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    opacity: 0.8;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .login-form span.psw {
       display: block;
       float: none;
    }
    .login-form .cancelbtn {
       width: 100%;
    }
}
