.navbar {
  background-color: #808080;
  color: white;
  font-family: helvetica;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  diplay: flex;
}

.view-btn, .search-btn, .my-board-button {
    display: inline-block;
    color: white;
    border-color: #808080;
    width: 85px;
    height: 35px;
    margin: 1em;
}

.search-bar, .choose-board, .card-buttons, .profile-buttons {
	display: inline-block;
}

#reveal-new-card, #profile-button, #logout-button {
	color: white;
  border-color: #808080;
	padding: 10px;
}



#login-button, #register-button {
  color: white;
  border-color: #808080;
  padding: 10px;
}

#show-my-cards {
	width: 80px;
	margin-left: 0;
}

.choose-board {
	font-size: 14px;
}

#board-to-view {
	width: 200px;
	height: 35px;
	border-radius: 20px;
	color: white;
	background-color: #808080;
	font: 14px;
}

#view-board {
	width: 50px;
	border-radius: 100px;
	border-color: white;
	margin-right: 320px;
	margin-left: 0;
}

.search-form {
	width: 300px;
	height: 35px;
	border-radius: 20px;
	color: white;
	background-color: #808080;
	padding-left: 10px;
}

.search-btn {
	width: 40px;
	border-radius: 100px;
	border-color: white;
	margin-left: 0;
}

.new-card {
  background-color: pink;
  position:relative;
  margin: 15px auto;
  border: 1px solid grey;
  border-radius: 0.5em;
}


/* NEW NAV CSS*/
/*.login-button, .reg-button, .search-container, .my-board-button, .following-button  {
    display: inline-block;
    width: 75px;
    height: 35px;
    margin: 1em;
}

.navbar {
  background-color: #e3f2fd;
  font-family: helvetica;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
}
.new-card {
  background-color: pink;
  position:relative;
  margin: 15px auto;
  border: 1px solid grey;
  border-radius: 0.5em;
}



.search-container {
  /*position: absolute;*/
  /*margin-left: -120px;*/
  /*display: inline-block;
  width: 600px;
   height: 80px;
   padding-top: 1em;
    margin: 1em 29em 1em 1em;
}

.search-container .form-control {
  text-rendering: optimizelegibility;
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding: 6px;
  border-radius: 2px;
  outline: none;
  letter-spacing: 0.6px;
  border: 1px solid #999;
  color: #bebebe;
}*/