.login-button, .reg-button, .search-bar, .my-board-button, .following-button  {
    display: inline-block;
}

.navbar {
    background-color: lightblue;
}
.new-card {
  background-color: white;
  position:relative;
  margin: 15px auto;

  border-radius: 0.5em;
}

