.login-button, .reg-button, .search-bar, .my-board-button, .following-button  {
    display: inline-block;
}

.login-button, .reg-button {
    visibility: hidden;
}

.navbar {
    background-color: lightblue;
}



