body {
  background-color: #808080;
  margin-top: 100px;
}

h2 {
    text-align: center;
}

.container {
  color: white;
  height: 100%;
  width: 100%;
  padding: 0 25%;
}


.username-btn, .email-btn, .password-btn {
  display: inline-block;
  color: white;
  background-color: #808080;
  width: 50px;
  height: 35px;
  border-radius: 100px;
    border-color: white;
    margin-left: 0;
  
}

.update-username, .update-email, .update-password {
    display: inline-block;
    width: 550px;
    /*height: 100px;*/
    border-radius: 20px;
    color: white;
    background-color: #808080;
    padding-left: 10px;
    z-index: 100;
}

#username-bar, #email-bar, #password-bar {
    width: 400px;
    display: inline-block;
}