html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.username-btn, .email-btn, .password-btn {
    display: inline-block;
    color: white;
    border-color: #808080;
    width: 85px;
    height: 35px;
    margin: 1em;

