h2 {
    margin-bottom: 5px;
}

.register-form {
    display: none;
    font-family: 'Lora', serif, ;
    font-color: #1B284E;
}

.register-container {
    margin-top: 7px;
    padding: 16px;
    background-color: white;
    border: 3px solid #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-form input[type=text], input[type=email], input[type=password] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.register-form label[for=username], label[for=email], label[for=password] {
    margin-top: 15px;
    margin-bottom: 1px;
}

.register-form button {
    background-color: #1B284E;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
}

.register-form button:hover {
    opacity: 0.8;
}


